body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.logoHeader {
  height: 40px;
  background-color: #E63A54;
  line-height: 40px;
  padding: 0 40px 0 120px;
  position: relative;
}
.logoHeader .logo {
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -10px;
  width: 110px;
  line-height: 45px;
}
.logoHeader .logo img {
  width: 100%;
  display: block;
}
.logoHeader #searchInput {
  height: 26px;
  line-height: 26px;
  width: 100%;
  text-align: center;
  background: #FFFFFF;
  opacity: 0.5;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  border-style: none;
  font-size: 12px;
}
.logoHeader .fa-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
}
.integralHeader {
  height: 40px;
  background-color: #E63A54;
  line-height: 40px;
  padding: 0 10px 0 110px;
  position: relative;
}
.integralHeader .back {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  color: #fff;
}
.integralHeader .back i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
}
.integralHeader .search {
  position: relative;
}
.integralHeader .search input {
  height: 26px;
  line-height: 26px;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 15px;
  outline: none;
  font-size: 12px;
}
.integralHeader .search .fa-search {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #81B0E7;
}
.commonHeader {
  height: 40px;
  background-color: #E63A54;
  line-height: 40px;
  text-align: center;
  color: #FFF;
  font-size: 16px;
  position: relative;
}
.commonHeader .back {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
}
.commonHeader .add {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #FFF;
}
.positionHeader {
  padding: 0 40px 0 40px;
  height: 40px;
  line-height: 40px;
  background-color: #E63A54;
  position: relative;
}
.positionHeader .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 16px;
}
.positionHeader .search {
  position: relative;
}
.positionHeader .search input {
  padding-left: 20px;
  width: 100%;
  height: 26px;
  border-radius: 15px;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.positionHeader .search .searchIcon {
  width: 30px;
  height: 30px;
  color: #999;
  font-size: 18px;
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -15px;
  line-height: 30px;
}
.positionHeader .position {
  width: 40px;
  height: 40px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -20px;
  line-height: 40px;
  color: white;
  font-size: 20px;
  display: block;
}
.hotSearch {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 1;
  display: none;
}
.hotSearch .searchTitle {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  color: #999;
  padding-left: 10px;
}
.hotSearch ul:before,
.hotSearch ul:after {
  content: " ";
  display: table;
}
.hotSearch ul:after {
  clear: both;
}
.hotSearch ul li {
  width: 33.33%;
  height: 35px;
  line-height: 35px;
  text-align: center;
  float: left;
  box-sizing: border-box;
}
.homeButton {
  width: 100%;
  height: 54px;
  text-align: center;
  background-color: #FFF;
  border-top: 1px solid #DDDDDD;
  position: fixed;
  bottom: 0;
  z-index: 100;
}
.homeButton li {
  width: 20%;
  height: 100%;
  float: left;
  color: #AAA;
}
.homeButton li a {
  width: 100%;
  height: 100%;
  display: block;
  text-align: center;
  line-height: 86px;
}
.homeButton li a img {
  height: 75%;
  display: inline-block;
}
.homeButton li.checked {
  color: #E63A54;
}
.header {
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-image: url(../images/1_011.jpg);
  position: relative;
}
.header .back {
  width: 50px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}
#wrapper .coupon {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: 1;
}
#wrapper .coupon .title {
  text-align: center;
  height: 40px;
  line-height: 40px;
}
#wrapper .coupon .coupon-box {
  width: 100%;
  max-height: 460px;
  position: relative;
  bottom: 0;
  overflow-y: auto;
}
#wrapper .coupon .coupon-box ul li {
  margin: 0 15px;
  padding: 15px 0;
  border-bottom: 1px solid #EEEEEE;
  position: relative;
}
#wrapper .coupon .coupon-box ul li .amount {
  color: #B87C5A;
}
#wrapper .coupon .coupon-box ul li .amount .num {
  font-size: 16px;
}
#wrapper .coupon .coupon-box ul li .condition {
  font-size: 16px;
}
#wrapper .coupon .coupon-box ul li .deadline {
  color: #B7B7B7;
  font-size: 14px;
}
#wrapper .coupon .coupon-box ul li .use-coupon {
  width: 60px;
  height: 30px;
  margin-top: -15px;
  color: #B87C5A;
  border: 1px solid #B87C5A;
  line-height: 30px;
  text-align: center;
  box-sizing: border-box;
  border-radius: 3px;
  position: absolute;
  right: 0;
  top: 50%;
}
#wrapper .coupon .confirm {
  height: 40px;
  line-height: 40px;
  color: white;
  text-align: center;
  background-color: #FF5001;
  font-size: 16px;
}
#wrapper .mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
