body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
body {
  background: #eeeeee;
}
.hed {
  background: #ffffff;
}
#wrapper {
  width: 100%;
  position: absolute;
  top: 40px;
  bottom: 0;
  overflow-y: auto;
  /*第一组*/
  /*第二组*/
}
#wrapper .nav1 {
  clear: both;
}
#wrapper .nav1:before,
#wrapper .nav1:after {
  content: " ";
  display: table;
}
#wrapper .nav1:after {
  clear: both;
}
#wrapper .nav1 li {
  padding: 10px 0;
  width: 20%;
  float: left;
}
#wrapper .details .log {
  height: 25px;
  margin-left: 8px;
}
#wrapper .nav1 li span {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: #999999;
  font-size: 24px;
  position: relative;
  width: 60px;
}
#wrapper .nav1 a .question {
  color: #ffa500;
}
#wrapper .nav1 li .num {
  position: absolute;
  width: 15px;
  height: 14px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  background-color: #f00;
  border-radius: 50%;
  margin-left: 40px;
  margin-top: -20px;
  color: #ffffff;
}
#wrapper .nav1 li p {
  text-align: center;
  font-size: 14px;
  margin-top: 11px;
  color: #999;
}
#wrapper .details {
  margin: 10px;
}
#wrapper .details .address1 {
  border-top: 1px solid #dddddd;
  line-height: 40px;
  overflow: hidden;
}
#wrapper .details .right {
  color: #999999;
  font-size: 20px;
}
#wrapper .details .refundsucceed {
  float: right;
  color: #ffa500;
}
#wrapper .details #direction {
  float: right;
  margin: 10px;
  border: 1px solid #ff4500;
  background: #ffffff;
  color: #ff4500 ;
  width: 90px;
  height: 25px;
  border-radius: 6px;
}
#wrapper .details .address1 a {
  display: block;
  padding: 10px 60px;
  position: relative;
  height: 60px;
  margin: 0 auto;
}
#wrapper .details .address1 a .img {
  width: 52px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 0;
}
#wrapper .details .address1 a img {
  display: block;
  width: 100%;
}
#wrapper .details .address1 a h3 {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
}
#wrapper .details .address1 .money {
  float: right;
  margin-right: 54px;
  position: relative;
}
#wrapper .details .address1 .money .money1 {
  position: absolute;
  left: 185px;
  top: 1px;
  color: #ff4500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrapper .details1 {
  background: #ffffff;
  padding: 10px;
}
#wrapper .details1 .address1 {
  border-top: 1px solid #dddddd;
  line-height: 45px;
  overflow: hidden;
}
#wrapper .details1 .right {
  color: #999999;
  font-size: 20px;
}
#wrapper .details1 .refundsucceed {
  float: right;
  color: #ffa500;
}
#wrapper .details1 #direction1 {
  float: right;
  margin: 10px;
  border: 1px solid #ff4500;
  background: #ffffff;
  color: #ff4500 ;
  width: 90px;
  height: 25px;
  border-radius: 6px;
}
#wrapper .details1 .address1 a {
  display: block;
  padding: 10px 60px;
  position: relative;
  height: 60px;
  margin: 0 auto;
}
#wrapper .details1 .address1 a .img {
  width: 52px;
  height: 60px;
  overflow: hidden;
  text-align: center;
  position: absolute;
  left: 0;
}
#wrapper .details1 .address1 a img {
  display: block;
  width: 100%;
}
#wrapper .details1 .address1 a h3 {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  line-height: 20px;
}
#wrapper .details1 .address1 .money {
  float: right;
  margin-right: 54px;
  position: relative;
}
#wrapper .details1 .address1 .money .money1 {
  position: absolute;
  left: 185px;
  top: 1px;
  color: #ff4500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
