<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">
    <!--
        58.1、SpringMVC，spring配置文件
    -->

    <!--设置扫描包-->
    <context:component-scan base-package="com.linear" />

    <!--设置视图解析器
        分别设置前缀和后缀
    -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- 开启spring mvc框架注解支持-->
    <mvc:annotation-driven  />

    <!-- 放开静态资源的拦截
         如果不放开，js和css就没法加载。
    -->
    <mvc:resources location="/js/" mapping="/js/**" />
    <mvc:resources location="/css/" mapping="/css/**" />

    <!-- 58.5、文件multipart解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760" />
    </bean>

    <!--58.6、配置异常处理器-->
    <bean id="sysExceptionResolver" class="com.linear.exception.SysExceptionResolver" />


    <!--58.7、配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--1、配置要拦截的具体的方法1 、不进行拦截的方法-->
            <mvc:mapping path="/interceptor/*" />
            <mvc:exclude-mapping path="/interceptor/exclude" />

            <bean class="com.linear.interceptor.D04_Interceptor_1" />
        </mvc:interceptor>

        <mvc:interceptor>
            <!--2、配置要拦截的具体的方法2 、不进行拦截的方法-->
            <mvc:mapping path="/interceptor/*" />
            <mvc:exclude-mapping path="/interceptor/exclude" />

            <bean class="com.linear.interceptor.D04_Interceptor_2" />
        </mvc:interceptor>

    </mvc:interceptors>

</beans>