body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.swiper-container img {
  width: 100%;
}
/*内容导航*/
.contentBar {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #dedede;
  box-sizing: border-box;
}
.contentBar li {
  float: left;
  width: 33.3%;
  box-sizing: border-box;
  text-align: center;
}
.contentBar li:last-child {
  border-right: none;
}
.contentBar li a {
  width: 100%;
  height: 100%;
  display: block;
  border-right: 1px solid #ddd;
}
.contentBar li a.active {
  color: #0f8fec;
}
#wrapper {
  width: 100%;
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  overflow: hidden;
  /*更多*/
  /*图片*/
  /*详情*/
}
#wrapper .tip {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #ddd;
  color: #666;
  text-align: center;
}
#wrapper .more {
  padding-bottom: 10px;
}
#wrapper .more .title {
  line-height: 40px;
  padding: 0 10px;
}
#wrapper .more .title .Stick {
  padding-left: 40px;
  color: #999999;
  display: inline-block;
  position: relative;
}
#wrapper .more .title .Stick i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #F00;
}
#wrapper .more .title .more1 {
  height: 40px;
  color: #0f8fec;
  font-size: 12px;
  display: inline-block;
}
#wrapper .more .title .more1 .double {
  color: #0f8fec;
}
#wrapper .more .content .piece {
  height: 30px;
  line-height: 30px;
  padding-left: 80px;
  position: relative;
}
#wrapper .more .content .piece .tip {
  height: 24px;
  line-height: 24px;
  text-align: center;
  padding: 0 10px;
  background-color: #00A5DF;
  border-radius: 5px;
  color: #FFF;
  display: block;
  position: absolute;
  top: 50%;
  left: 16px;
  margin-top: -10px;
}
#wrapper .photo {
  min-height: 80px;
  border-top: 2px solid #ddd;
}
#wrapper .photo a {
  display: block;
}
#wrapper .photo a img {
  width: 100%;
  display: block;
}
#wrapper .content .conList {
  border-bottom: 1px solid #dddddd;
}
#wrapper .content .conList li {
  margin-bottom: 10px;
}
#wrapper .content .conList li .log {
  background: #ffffff;
  border-top: 1px solid #dddddd;
}
#wrapper .content .conList li .log .detailsMes {
  border-bottom: 1px solid #dddddd;
  padding: 15px 20px 10px 95px;
  position: relative;
  min-height: 70px;
  display: block;
}
#wrapper .content .conList li .log .detailsMes .detailsImg {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 15px;
  left: 10px;
}
#wrapper .content .conList li .log .detailsMes .detailsImg img {
  width: 100%;
  height: 100%;
  display: block;
}
#wrapper .content #tip {
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #999;
}
#wrapper .content .conList li .log .detailsMes .detailsCon {
  padding-right: 20px;
}
#wrapper .content .conList li .log .detailsMes .detailsCon h3 {
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  color: #007aff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrapper .content .conList li .log .detailsMes .detailsCon .audit {
  color: #ff69b4;
}
#wrapper .content .conList li .log .detailsMes .detailsCon .data {
  line-height: 20px;
  font-size: 12px;
}
#wrapper .content .conList li .log .detailsMes .detailsRight {
  position: absolute;
  top: 30px;
  right: 15px;
  font-size: 32px;
  color: #999;
}
#wrapper .content .conList li .log .details {
  padding: 10px;
}
#wrapper .content .conList li .log .details h3 {
  font-size: 16px;
  line-height: 25px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#wrapper .content .conList li .log .details .textDesc {
  font-size: 12px;
  color: #999;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
#wrapper .content .conList li .detailsMes1 {
  height: 50px;
  line-height: 50px;
  background: #fff;
  margin-top: 2px;
  position: relative;
}
#wrapper .content .conList li .detailsMes1 .imgs {
  padding: 5px 15px;
}
#wrapper .content .conList li .detailsMes1 .imgs:before,
#wrapper .content .conList li .detailsMes1 .imgs:after {
  content: " ";
  display: table;
}
#wrapper .content .conList li .detailsMes1 .imgs:after {
  clear: both;
}
#wrapper .content .conList li .detailsMes1 .imgs li {
  float: left;
}
#wrapper .content .conList li .detailsMes1 .imgs li a {
  width: 40px;
  height: 40px;
  display: block;
  float: left;
}
#wrapper .content .conList li .detailsMes1 .imgs li img {
  width: 100%;
  height: 100%;
}
#wrapper .content .conList li .detailsMes1 .imgs li:not(:first-of-type) {
  margin-left: 5px;
}
#wrapper .content .conList li .detailsMes1 .button {
  position: absolute;
  right: 20px;
  top: 0;
}
#wrapper .content .conList li .detailsMes1 .button a:first-of-type {
  padding-right: 10px;
  border-right: 1px solid #000;
}
#wrapper .content .conList li .detailsMes1 .button a:last-of-type {
  padding-left: 10px;
}
#wrapper .content .conList li .detailsMes1 .button span {
  margin-right: 5px;
}
.operation {
  float: right;
  position: fixed;
  right: 20px;
  bottom: 40px;
}
.operation .publish {
  background: #01a0e2;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 30px;
  display: block;
}
.operation .publish .square {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 14px;
}
.operation .publish p {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: -10px;
}
.operation .publish1 {
  background: #fe7d55;
  text-align: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 30px;
  margin-top: 20px;
  display: block;
}
.operation .publish1 .user {
  color: #FFFFFF;
  font-size: 22px;
  margin-top: 14px;
}
.operation .publish1 p {
  color: #FFFFFF;
  font-size: 12px;
  margin-top: -10px;
}
