body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #EEE;
}
#container .content .conTop {
  background-color: #fff;
}
#container .content .conTop .payTimer {
  height: 50px;
  line-height: 25px;
  font-size: 14px;
  border-bottom: 2px solid #eee;
  text-align: center;
}
#container .content .conTop .payTimer span {
  display: block;
}
#container .content .conTop .goodInfo {
  position: relative;
  padding: 10px 0  10px 102px;
  min-height: 52px;
}
#container .content .conTop .goodInfo .goodImg {
  position: absolute;
  left: 40px;
  top: 10px;
  width: 52px;
  height: 52px;
}
#container .content .conTop .goodInfo .goodImg img {
  display: block;
  width: 100%;
  height: 100%;
}
#container .content .conTop .goodInfo p {
  line-height: 26px;
}
#container .content .conTop .goodInfo p span {
  width: 60%;
  display: inline-block;
  float: left;
  margin-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .content .conMid {
  background-color: #fff;
  margin-top: 10px;
}
#container .content .conMid .bankCard,
#container .content .conMid .weixin {
  position: relative;
  padding: 10px 10px  10px 50px;
  min-height: 40px;
}
#container .content .conMid .bankCard .cardImg,
#container .content .conMid .weixin .cardImg {
  position: absolute;
  left: 0;
  top: 10px;
  width: 40px;
  height: 40px;
}
#container .content .conMid .bankCard .cardImg img,
#container .content .conMid .weixin .cardImg img {
  display: block;
  margin: 11px auto;
}
#container .content .conMid .bankCard p,
#container .content .conMid .weixin p {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container .content .conMid .bankCard .cr,
#container .content .conMid .weixin .cr {
  color: #f00;
  font-size: 12px;
  padding-right: 10px;
}
#container .content .conMid .bankCard .cr1,
#container .content .conMid .weixin .cr1 {
  color: #999;
  font-size: 12px;
}
#container .content .conMid .bankCard input,
#container .content .conMid .weixin input {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 20px;
}
#container .content .conMid .bankCard {
  border-bottom: 1px solid #ddd;
}
#container .content .sendBtn {
  display: block;
  width: 86%;
  margin: 30px auto 0 auto;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: #FE632D;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
