body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#container {
  position: relative;
  padding-bottom: 40px;
}
#container .content .topImg {
  height: 188px;
  overflow: hidden;
  position: relative;
}
#container .content .topImg img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
#container .content .topImg p {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: #F61C4C;
}
#container .content .topImg p .prentPrice {
  font-size: 24px;
  padding-left: 10px;
}
#container .content .topImg p .prentPrice b {
  font-size: 14px;
  font-weight: normal;
}
#container .content .topImg p .originPrice {
  font-size: 12px;
  position: relative;
  top: -18px;
  left: 15px;
}
#container .content .topImg p .solder {
  font-size: 10px;
  position: relative;
  top: 4px;
  left: -20px;
  background-color: #a03149;
  padding: 2px 5px;
  border-radius: 5px;
}
#container .content .proIntro {
  position: relative;
  padding: 10px 60px 10px 10px;
  border-bottom: 2px solid #eee;
}
#container .content .proIntro p {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 15px;
}
#container .content .proIntro .reductionFee {
  font-size: 16px;
  color: #999;
  line-height: 25px;
}
#container .content .proIntro h3 {
  font-size: 18px;
  color: #E7214D;
}
#container .content .proIntro .share {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-left: 1px solid #ddd;
  font-size: 12px;
}
#container .content .proIntro .share i {
  width: 40px;
  font-size: 20px;
}
#container .content .choice {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;
}
#container .content .choice i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #000;
  float: right;
  font-size: 20px;
}
#container .content .comment {
  margin-top: 20px;
  padding: 20px;
}
#container .content .comment ul {
  overflow: hidden;
  margin: 10px 0;
}
#container .content .comment ul li {
  padding: 5px 10px;
  background-color: #FFECE8;
  float: left;
  margin: 0 10px 10px 0;
  font-size: 12px;
  border-radius: 10px;
}
#container .content .comment .commentDetail ul li {
  background-color: #fff;
}
#container .content .comment .commentDetail ul li .cTitle {
  height: 30px;
  line-height: 30px;
}
#container .content .comment .commentDetail ul li .cTitle i {
  color: #F47472;
}
#container .content .comment .commentDetail ul li p {
  line-height: 25px;
  font-size: 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#container .content .comment .commentDetail .allComm {
  display: block;
  width: 100px;
  height: 18px;
  margin: 0 auto;
  line-height: 18px;
  border: 1px solid #F6741E;
  color: #F6741E;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}
#container .bottom {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 40px;
  line-height: 40px;
}
#container .bottom ul {
  overflow: hidden;
}
#container .bottom ul li {
  width: 50%;
  float: left;
}
#container .bottom ul li a {
  display: block;
  text-align: center;
  line-height: 40px;
  color: #fff;
}
#container .bottom ul .cart {
  background-color: #F61C4C;
}
#container .bottom ul .order {
  background-color: #F6741E;
}
