body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form {
  margin: 0;
  padding: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  color: #333;
  font: normal normal normal 14px/20px 'Microsoft YaHei', Arial, sans-serif;
}
img {
  border: 0;
}
input[type="text"],
input[type="password"],
textarea,
button {
  vertical-align: middle;
  -webkit-appearance: none;
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  outline: none;
}
table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
}
table td {
  padding: 0;
}
textarea {
  resize: none;
}
body {
  max-width: 768px;
  margin: 0 auto;
}
.clearFix:before,
.clearFix:after {
  content: " ";
  display: table;
}
.clearFix:after {
  clear: both;
}
.pullLeft {
  float: left;
}
.pullRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textRight {
  text-align: right;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}
.ellipsisNormal {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
html,
body,
#container {
  height: 100%;
}
#container {
  background-color: #F4F5F7;
}
#wrapper {
  width: 100%;
  padding-bottom: 10px;
  position: absolute;
  top: 40px;
  bottom: 40px;
  overflow-y: auto;
}
#wrapper .goodsList {
  background-color: #FFF;
  margin-bottom: 3px;
}
#wrapper .goodsList .goods {
  border-bottom: 1px solid #F4F5F7;
}
#wrapper .goodsList .goods a {
  padding: 15px 10px 10px 100px;
  box-sizing: border-box;
  position: relative;
  min-height: 100px;
  display: block;
}
#wrapper .goodsList .goods a .goodsImg {
  position: absolute;
  top: 10px ;
  left: 10px;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
#wrapper .goodsList .goods a .goodsImg img {
  width: 100%;
  display: block;
}
#wrapper .goodsList .goods a .goodsName {
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#wrapper .list {
  background-color: #fff;
}
#wrapper .list li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
#wrapper .list li .radio {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 14px;
  height: 14px;
  box-sizing: border-box;
  border: 2px solid #ff642e;
  border-radius: 50%;
  outline: none;
  float: right;
}
#wrapper .list li .radio:checked {
  background-color: #ff642e;
}
#wrapper .list li .bandPhone {
  display: block;
  padding-top: 10px;
}
#wrapper .list li:last-child {
  padding: 0;
}
#wrapper .list li:last-child a {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: block;
  box-sizing: border-box;
}
.submitOrder {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 30px;
  color: #F0201F;
  background-color: #fff;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
}
.submitOrder .submit {
  width: 100px;
  height: 100%;
  float: right;
  display: block;
  text-align: center;
  line-height: 40px;
  background-color: #FF642E;
  color: #FFF;
}
